html {
  background: #222;
  overflow-y: scroll;
}

pre {
  margin: 0;
  padding: 0;
}

body {
  padding: 0;
  margin: 0;
  animation-name: appear;
  animation-delay: 0.5s;
  animation-duration: 0.125s;
  animation-fill-mode: both;
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

main {
  display: block;
  color: #000;
  background: #fff;
  font: 16px sans-serif;
  padding: 24px 0;
  margin: 16px auto;
  width: 100%;
  max-width: 640px;
  min-width: 596px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  box-shadow: 0 0 2px black, 0 0 4px rgba(255, 255, 255, 0.5);
}

main > * {
  width: 588px;
  margin-left: auto;
  margin-right: auto;
}

img {
  --max-size: calc(0.5em + 0.5ex);
  max-width: var(--max-size);
  max-height: var(--max-size);
  vertical-align: baseline;
  pointer-events: none;
}

a {
  text-decoration-style: underline;
  text-decoration-color: #008;
}

a:hover {
  color: #00f;
  text-decoration-color: #00f;
}

a:not(:hover) {
  color: inherit;
}

::selection {
  color: black;
  background: rgb(200, 225, 255);
}

pre {
  white-space: pre-wrap;
  text-align: left;
  overflow-x: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Trebuchet MS", sans-serif;

  a {
    text-decoration: none;
  }
}

section {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 1em;
    margin-left: calc(60px - 2em);
  }
}
