.header {
  text-align: left;

  .text {
    display: inline;
    border-bottom: 2px solid #000;
    border-bottom-left-radius: 10px 6px;
    border-bottom-right-radius: 32px 2px;
    position: relative;
    top: -7px;
    padding-right: 4px;

    .inner {
      position: relative;
      top: 7px;
    }
  }
}

.duration {
  font-family: consolas, monospace;
}

.footer {
  font-size: 0.75em;
  margin-top: 128px;

  a {
    text-decoration: underline;
  }
}
