body {
  font-family: helvetica, arial, sans-serif;
  margin: 25px;
}

#premain-message {
  color: red;
}

img {
  --max-size: calc(.5em + .5ex);
  max-width: var(--max-size);
  max-height: var(--max-size);
  vertical-align: baseline;
  pointer-events: none;
}
