body {
  font-family: helvetica, arial, sans-serif;
  margin: 25px;
}

#premain-message {
  color: red;
}

img {
  --max-size: calc(.5em + .5ex);
  max-width: var(--max-size);
  max-height: var(--max-size);
  vertical-align: baseline;
  pointer-events: none;
}

a, a:visited  {
  color: #008;
  text-decoration: none;
}

a:hover {
  color: #00F;
}

h1 {
  font-family: 'Trebuchet MS', sans-serif;
  border-bottom: 2px solid currentColor;
  border-bottom-left-radius: 6px 12px;
}