html {
  background: #222;
  overflow-y: scroll;
}

body, pre {
  margin: 0;
  padding: 0;
}

body {
  opacity: 1.0;
  animation-name: appear;
  animation-delay: 0.5s;
  animation-duration: .125s;
  animation-fill-mode: both;
}

@keyframes appear {
  from { opacity: 0.0; }
  to   { opacity: 1.0; }
}

#loading-message {
  border: 1px solid red;
  color: red;
  position: fixed;
  right: 4px;
  bottom: 4px;
  z-index: 512;
  background: rgba(0, 0, 0, 0.9375);
  width: auto;
  padding: 2em;
  max-width: 600px;
  user-select: all;
}

body {
  padding: 21px;
}

main {
  background: #FFF;
  font-family: sans-serif;
  padding: 24px 36px;
  margin: 0 auto;
  max-width: 800px;
  min-width: 512px;
  position: relative;
  text-align: center;
}

pre {
  white-space: pre-wrap;
}

table {
  width: 100%;
  table-layout: fixed;
}

th {
  font-family: tahoma;
  font-weight: normal;
}

img {
  --max-size: calc(.5em + .5ex);
  max-width: var(--max-size);
  max-height: var(--max-size);
  vertical-align: baseline;
  pointer-events: none;
}

a, a:visited  {
  color: #008;
  text-decoration: none;
}

a:hover {
  color: #00F;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Trebuchet MS', sans-serif;
}

h1 {
  display: inline;
  border-bottom: 2px solid #666;
  border-bottom-left-radius: 16px 8px;
  border-bottom-right-radius: 32px 2px;
  position: relative;
  top: -6px;
}

h1 span {
  position: relative;
  top: 6px;
}

header {
  text-align: left;
}

header .links {
  float: right;
  margin-top: 0.75em;
}

footer {
  font-size: 0.75em;
  margin-top: 128px;
}