.BestsReport .best, .BestsReport .banks, .BestsReport .both {
  color: transparent;
}

.BestsReport .both {
  background: linear-gradient(to bottom, #000080 0%, #FFD700 100%);
}

.BestsReport .best {
  background: linear-gradient(to bottom, #DFA700 0%, #FFD700 100%);
}

.BestsReport .banks.current {
  background: linear-gradient(to bottom, #000080 0%, rgba(0, 0, 128, 0.125) 100%);
}

.BestsReport .banks {
  background: rgba(0, 0, 128, 0.125);
}
