.myGames {
  font: 16px Georgia;
  margin: 32px auto;
  max-width: 600px;
  padding: 16px;
  box-sizing: border-box;
  background: rgb(250, 250, 250);

  > h1 {
    text-align: center;
  }

  > .games {
    display: flex;
    text-align: center;

    > section {
      flex: 1;
    }
  }
}
