.myGames {
  max-width: 800px;
  font: 16px Georgia;
  margin: 32px auto;
  box-sizing: border-box;

  > h1 {
    font-size: 40px;
  }

  h1,
  h2,
  h3 {
    text-align: center;
  }

  > .games {
    display: flex;
    flex-wrap: wrap;

    > section {
      flex: 1;
      min-width: 300px;

      border: 2px solid var(--color);

      &.war2 {
        --color: rgb(45, 45, 75);
        border-right-width: 1px;
        background: rgb(245, 245, 255);
      }

      &.war2x {
        --color: rgb(45, 75, 45);
        border-left-width: 1px;
      }
    }
  }
}

.duration {
  font-family: consolas, monospace;
}
