html {
    background: #111;
    padding: 8px;
}

body {
    margin: 0 auto;
    padding: 16px;
    max-width: 600px;
    background: #FFF;
    border-radius: 8px;
    font-family: sans-serif;
}

main {
    min-height: 400px;
}

pre {
    white-space: pre-wrap;
}

h1 {
    margin-top: 0;
}

a {
    color: inherit;
}

h1 a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

footer {
    margin-top: 128px;
    font-size: 0.5em;
}

table {
    text-align: left;
}

th.rank {
    text-align: right;
}

tr > td.rank {
    border-left: 6px solid #CDC;
    padding-left: 2px;
    text-align: right;
}

tr[data-rank="1"] > td.rank {
    border-left-color: gold;
}

tr[data-rank="2"] > td.rank {
    border-left-color: #AAB;
}

tr[data-rank="3"] > td.rank {
    border-left-color: orangered;
}
