html {    
    font-family: sans-serif;
    white-space: pre-wrap;

    background: #111;
    padding: 8px;
}

body {
    margin: 0 auto;
    padding: 16px;
    max-width: 600px;
    background: #FFF;
    border-radius: 8px;
}

main {
    min-height: 400px;
}

pre {
    white-space: pre-wrap;
}

h1 {
    margin-top: 0;
}

a {
    color: inherit;
}

h1 a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

footer {
    margin-top: 128px;
    font-size: 0.5em;
}

table {
    text-align: left;
    width: 100%;
    margin: auto;
}

td, th {
    padding: 2px 6px;
}

td.rank, td.time, td.date {
    font-family:
        "Fira Code", Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console",
        "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", 
        "Liberation Mono", "Nimbus Mono L", Monaco, monospace;
}

th {
    text-transform: small-caps;
}

tr:hover {
    background-color: #F8F8F8;
}

tr > .rank {
    text-align: right;
    width: 40px;
}

tr > .time {
    text-align: right;
    width: 100px;
}

tr > .date {
    text-align: center;
    width: 100px;
}

tr > .runner {
    text-align: left;
    width: auto;
}

tbody > tr > .rank {
    border-left: 6px solid #CDC;
    background-color: #E8E8E8;
    color: #888;
}

tbody > tr[data-rank="1"] > .rank {
    border-left-color: #FFAA00;
    background-color: #FFF0E0;
    color: black;
}

tbody > tr[data-rank="2"] > .rank {
    border-left-color: #AAB;
    background-color: #EEF;
    color: black;
}

tbody > tr[data-rank="3"] > .rank {
    border-left-color: #EE5511;
    background-color: #F8D8C0;
    color: black;
}
