name: Actions
on: [push]

jobs:
  most-things:
    name: "test, fix, lint, and if on master, publish"
    runs-on: ubuntu-latest
    steps:
      - name: preparation - checkout source
        uses: actions/checkout@v1

      - name: preparation - reading environment
        id: env
        run: |
          echo "::set-output name=rust::$(cat rust-toolchain)"
          echo "::set-output name=node::$(cat .nvmrc)"
          echo "::set-output name=git-branch::$(echo ${GITHUB_REF#refs/heads/})"
          echo "::set-output name=yarn-cache::$(yarn cache dir)"

      - name: preparation - configure git write access
        run: |
          git remote rm origin
          git remote add origin "https://$GITHUB_ACTOR:${{ secrets.GITHUB_TOKEN }}@github.com/$GITHUB_REPOSITORY.git"
          git fetch origin
          git checkout ${{ steps.env.outputs.git-branch }}
          git config user.name "$(git log -1 --pretty=format:'%an')"
          git config user.email "$(git log -1 --pretty=format:'%ae')"

      - name: setup - install rust toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: ${{ steps.env.outputs.rust }}

      - name: setup - install node
        uses: actions/setup-node@v1
        with:
          node-version: ${{ steps.env.outputs.node }}

      - name: setup - install node dependencies
        run: yarn install

      - name: setup - install hub
        uses: geertvdc/setup-hub@master

      - name: test - cargo build
        run: cargo build --workspace

      - name: bot - code generation
        run: yarn generate

      - name: test - yarn export
        run: yarn export

      - name: bot - code formatting
        run: yarn format

      - name: bot - automatic fixes
        run: yarn fix

      - name: bot - commit any changes as autofix
        continue-on-error: true
        env:
          GIT_COMMITTER_NAME: autofix
          GIT_COMMITTER_EMAIL: bot@jeremy.ca
        run: bash scripts/commit-autofix.bash

      - name: test - cargo test
        run: cargo test --workspace

      - name: test - lint
        run: yarn lint

      - name: publish - add `master` to `deploy` first-parent chain if we made it this far
        if: github.ref == 'refs/heads/master'
        env:
          GIT_COMMITTER_NAME: deploy
          GIT_COMMITTER_EMAIL: bot@jeremy.ca
        run: bash scripts/merge-master-to-stable.bash

      - name: publish - publish pre-release packages from `deploy`
        if: github.ref == 'refs/heads/master'
        run: bash scripts/publish.bash
        env:
          NPM_PUBLISH_TOKEN: ${{secrets.NPM_PUBLISH_TOKEN}}
          GITHUB_PUBLISH_TOKEN: ${{secrets.GITHUB_PUBLISH_TOKEN}}
          CARGO_PUBLISH_TOKEN: ${{secrets.CARGO_PUBLISH_TOKEN}}

      - name: publish - record published version
        if: github.ref == 'refs/heads/master'
        uses: actions/upload-artifact@v1
        with:
          name: version
          path: .version

      - name: setup - record published version
        if: github.ref == 'refs/heads/master'
        id: version
        run: echo "::set-output name=version::$(cat .version)"

      - name: publish - create github (pre)release
        if: github.ref == 'refs/heads/master'
        id: create_release
        uses: actions/create-release@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ steps.version.outputs.version }}
          release_name: ${{ steps.version.outputs.version }}
          draft: false
          prerelease: true
          body: |
            [`crates.io`](https://crates.io/crates/speedruns/${{ steps.version.outputs.version }}) && ([`npm`](https://www.npmjs.com/package/speedruns/v/${{ steps.version.outputs.version }}) || [`ghpr`](https://github.com/jeremyBanks/speedruns/packages/120812?version=${{ steps.version.outputs.version }}))

      - name: publish - upload linux binary to github releases
        if: github.ref == 'refs/heads/master'
        uses: actions/upload-release-asset@v1.0.1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ./target/release/speedruns
          asset_name: speedruns-linux-x86_64
          asset_content_type: application/octet-stream

  post-publish:
    name: "validate published packages"
    needs: most-things
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/master'
    steps:
      - name: setup - install node 13
        uses: actions/setup-node@v1
        with:
          node-version: 13.x

      - name: setup - install rust nightly
        uses: actions-rs/toolchain@v1
        with:
          toolchain: nightly

      - name: setup - recall published version
        uses: actions/download-artifact@v1
        with:
          name: version

      - name: validation - installed published packages
        run: |
          set -veuo pipefail
          version="$(cat version/.version)"

          curl -L -o speedruns-linux-x86_64 https://github.com/jeremyBanks/speedruns/releases/download/$version/speedruns-linux-x86_64
          chmod +x speedruns-linux-x86_64
          ./speedruns-linux-x86_64 --help

          cargo +nightly install speedruns --version $version
          speedruns --help

          npm install -g speedruns@$version
          speedruns-frontend --help

      - name: validation - run published packages
        run: |
          set -veuo pipefail
          version="$(cat version/.version)"

          speedruns serve --no-data --port 4001 &
          GRAPHQL_ENDPOINT=http://localhost:4001/graphql speedruns-frontend &

          sleep 24

          curl http://localhost:3000 | grep "$version"

  deploy-prod:
    name: "deploy to prod"
    needs: post-publish
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/master'
    steps:
      - name: setup - recall published version
        uses: actions/download-artifact@v1
        with:
          name: version

      - name: publish - trigger zeit deploy from `deploy`
        run: curl "${{secrets.ZEIT_DEPLOY_STABLE}}"

      - name: publish - trigger graphql deploy from published package
        run: curl "${{secrets.GRAPHQL_DEPLOY_STABLE}}"

      - name: publish - notify chat
        run: |
          version="$(cat version/.version)"
          curl "${{secrets.CHAT_NOTIFY_URL}}" -F content="https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }} deploying speedruns@${version} to https://speedruns.ca/"
